VITE_API_URL=http://localhost:8000
VITE_CONTACT_EMAIL=meetchetanpura9@gmail.com
VITE_CONTACT_WHATSAPP=https://wa.me/919876543210
VITE_CONTACT_LINKEDIN=https://linkedin.com/in/yourprofile
VITE_CONTACT_GITHUB=https://github.com/meetchetanpura9-oss
VITE_CONTACT_LOCATION=Gujarat, India
